<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta charset="UTF-8">
    <title>Qna 작성</title>
</head>
<body>
<header>
    <nav id="nav3">
        <a href="/"><img src="/images/header.png" width="300" height="60"></a>
        <ul>
            <li><a href="/item/list">교육과정</a></li>
            <li><a href="/user/introduction">강사소개</a></li>
            <li><a href="/qna/list">Q&A</a></li>
            <li><a href="/cart/list">장바구니</a></li>
            <!--            <li><a sec:authorize="isAnonymous()" onclick="location.href='/qna/list'">Q&A</a></li>-->
            <!--            <li><a sec:authorize="isAnonymous()" onclick="location.href='/cart/list'">장바구니</a></li>-->
            <!--            <li><a sec:authorize="isAnonymous()" onclick="location.href='/auth/login'">로그인</a></li>-->
            <!--            <li><a sec:authorize="isAuthenticated()" onclick="location.href='/auth/logout'">로그아웃</a></li>-->
            <!--            <li><a sec:authorize="isAuthenticated()" onclick="location.href='/user/course'">마이페이지</a></li>-->
            <li><a href="/auth/login">로그인</a></li>
            <li><a href="/auth/admin/login">관리자</a></li>
            <li><a href="/user/course">마이페이지</a></li>
        </ul>
    </nav>
    <h2><a href="/qna/create">딸기말차 선생님에게 질문하세요!</a></h2>
</header>

    <form method="post" enctype="multipart/form-data">
        <p>제목 : <input type="text" name="title" /></p>
        <p>내용 :<textarea name="content" cols="50" rows="10"></textarea></p>
        <p>파일 : <input type="file" name="multipartFile" /></p>
        <p><input type="submit" value="등록하기"/></p>
    </form>
    <div id="result"></div>
</body>
<footer>
    <div style="text-align : center;">
        <p>ⓒ COVISCON Corp. All rights reserved.</p>
    </div>
</footer>
</html>

<script>
    const formElement = document.querySelector('form');
    const resultElement = document.querySelector('div');

    formElement.addEventListener('submit', async (event) => {
        event.preventDefault();

        const formData = new FormData(formElement);

        const response = await fetch('/qna/create', {
            method: 'POST',
            body: formData
        })

        if (response.ok) {
            const result = await response.text();
            resultElement.textContent = result;

            alert("업로드가 완료되었습니다.");
            location.href = "/qna/list";

        } else {
            throw new Error(`${response.status} ${response.statusText}`);
        }
    });
</script>