/* 헤더 제목 스타일 */
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: 'S-CoreDream-3Light';
    padding:0;
    margin:0;
}

ul,ol {
    list-style:none
}

a{
    text-decoration:none;
    color:#fff;
    font-size: 20px;
}

nav {
    width:80%;
    overflow:hidden;
    height:80px;
}

#nav3 {
    width: 100%;
    position: relative;
    text-align: center;
    margin:50px auto;
}

#nav3>a {
    line-height: 80px;
    display: block;
    font-size: 30px;
    font-weight: 900;
    position: absolute;
    left: 30px;
}

#nav3>ul {
    display: inline-block;
}
#nav3>ul li {
    float: left;
    line-height: 80px;
    padding: 0 30px;
    font-weight: bold;
    font-size: 15px;
}

nav ul li a:hover {
    background-color: #ffbbc7; /* 마우스 호버 시 버튼 배경 색상 변경 */
}

.mainImg {
    text-align: center;
}

header h1 {
    color: #fff;
    margin: 20px;
    height: 60px;
    display: flex;
    justify-content: left; /* 가운데 정렬 */
}

/* 가운데 정렬한 h2 스타일 */
h2 {
    color: white;
    text-align: center; /* 텍스트를 가운데 정렬 */
    font-weight: bold;
}

/* h2 링크 스타일 수정 */
h2 a {
    color: white; /* 글자 색상을 흰색으로 설정 */
    text-decoration: none; /* 밑줄 제거 */
}

body {
    font-family: "Nanum Gothic Coding";
    margin: 0;
    padding: 0;
    background-color: #FFE3EE;
}

h1 {
    text-align: center;
    background-color: #FFE3EE;
    color: #fff;
    padding: 10px;
}

table {
    width: 88%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #FFE3EE;
}

table, th, td {
    border: 1px solid #FFE3EE;
    border-radius: 10px; /* 모서리를 둥글게 */
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #FFCAD5;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #FFE3EE;
}

/* Style the first button */
input[type="button"].button1 {
    background-color: #82F9B7;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 76px;
    float: left; /* 왼쪽 정렬 */
    border-radius: 5px; /* 모서리를 둥글게 */
}

input[type="button"].button1:hover {
    background-color: #64DB99;
}

/* Style the second button */
input[type="button"].button2 {
    background-color: #82F9B7;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 76px;
    float: right; /* 오른쪽 정렬 */
    border-radius: 5px; /* 모서리를 둥글게 */
}

input[type="button"].button2:hover {
    background-color: #64DB99;
}

/* 폼 스타일 */
form {
    text-align: center; /* 폼 내의 텍스트를 가운데 정렬 */
    max-width: 400px; /* 폼의 최대 너비를 설정 */
    margin: 0 auto; /* 가운데 정렬을 위해 좌우 여백을 자동으로 설정 */
    padding: 20px; /* 내부 여백을 설정 */
}

/* 폼 내부 요소 스타일 */
form p {
    margin: 10px 0; /* 단락 사이에 여백을 설정 */
}

/* 입력 필드 스타일 */
form input[type="text"], input[type="password"], input[type="email"], input[type="tel"] {
    padding: 10px;
    margin: 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* 버튼 스타일 */
form input[type="submit"],
form input[type="reset"] {
    display: inline-block; /* 인라인 블록 요소로 설정하여 옆으로 배치 */
    padding: 10px 20px; /* 버튼 내부 여백을 설정 */
    margin: 10px; /* 버튼 사이에 여백을 설정 */
    background-color: #82F9B7; /* 배경색을 설정 */
    color: #fff; /* 텍스트 색상을 설정 */
    border: none; /* 테두리를 제거 */
    border-radius: 5px; /* 버튼의 모서리를 둥글게 */
    cursor: pointer; /* 커서를 포인터로 변경하여 버튼이 클릭 가능함을 나타냄 */
}

/* 버튼 호버 효과 */
form input[type="submit"]:hover,
form input[type="reset"]:hover {
    background-color: #64DB99; /* 호버 시 배경색을 변경 */
}

footer {
    color: white; /* 텍스트 색상 */
    text-align: center; /* 텍스트 가운데 정렬 */
    padding: 20px; /* 위아래 여백 설정 */
}


/* QnA CSS */
.qnaImage {
    width: 600px;
    height: auto;
}

.qnaButtons {
    margin-left: 32px;
}

.qnaButton {
    display: inline-block; /* 인라인 블록 요소로 설정하여 옆으로 배치 */
    padding: 10px 14px;
    margin: 2px; /* 버튼 사이에 여백을 설정 */
    background-color: #82F9B7; /* 배경색을 설정 */
    color: #fff; /* 텍스트 색상을 설정 */
    border: none; /* 테두리를 제거 */
    text-decoration: none;
    border-radius: 5px; /* 버튼의 모서리를 둥글게 */
    cursor: pointer; /* 커서를 포인터로 변경하여 버튼이 클릭 가능함을 나타냄 */
}

.qnaButton:hover {
    background-color: #64DB99; /* 호버 시 배경색을 변경 */
}

.quest {
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.qnaContent {
    margin-left: 32px;
    height: auto;
}

/**
itemList.html 디자인
 */

.selectBox {
    position: relative;
    width: 110px;
    height: 30px;
    border-radius: 4px;
    border: 3px solid #FFCAD5;
    margin: 10px;
}

.selectBox .category {
    width: inherit;
    height: inherit;
    background: transparent;
    border: 0 none;
    outline: 0 none;
    padding: 0 5px;
    position: relative;
    z-index: 3;
}

.selectBox .search {
    width: inherit;
    height: inherit;
    background: transparent;
    border: 0 none;
    outline: 0 none;
    padding: 0 5px;
    position: relative;
    z-index: 3; // select가 위로 올라와야 함
}

.selectBox .category option {
    background: #FFCAD5;
    color: #fff;
    padding: 3px 0;
    font-size: 16px;
}

.selectBox .search option {
    background: #FFCAD5;
    color: #fff;
    padding: 3px 0;
    font-size: 16px;
}

.selectBox .icoArrow {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 20px;
    height: 24px;
    border-left: 2px solid #FFCAD5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectBox .icoArrow img {
    width: 50%;
    transition: .3s;
}

.selectBox .category:focus + .icoArrow img {
    transform: rotate(180deg);
}

.selectBox .search:focus + .icoArrow img {
    transform: rotate(180deg);
}

.searchInput .keyword {
    padding: 10px; /* 입력 필드 내부 여백을 설정 */
    margin: 10px;
    border: 1px solid #ccc; /* 테두리를 추가 */
    border-radius: 5px; /* 입력 필드의 모서리를 둥글게 */
    width: 250px;
    margin-left: 25px;
}

.lecture-box {
    margin: 0 auto;
}

.lecture-container {
    display: grid;
    place-items: center;
    grid-template-columns: 360px 360px 360px 360px;
    gap: 20px;
    grid-template-rows: 200px 200px 200px 200px;
    margin-bottom: 100px;
}

.lecture-title {
    text-align: center;
}

.lecture-img {
    width: 300px;
    height: 150px;
    object-fit: cover;
}

/**
페이지네이션 디자인
 */

.page{
    text-align: center;
    width: 90%;
}

.pagination {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin-top: 20px;
}

.pagination li {
    display: inline;
    text-align: center;
}

.pagination a{
    float: left;
    display: block;
    font-size:14px;
    text-decoration: none;
    padding: 5px 12px;
    color: #96a0ad;
    line-height: 1.5;
}

.first{
    margin-right: 15px;
}

.first:hover {
    color: #FFCAD5;
}

.pagination a.active {
    cursor: default;
    color: #ffffff;
}

.pagination a:active {
    outline: none;
}

.modal .num {
    margin-left: 3px;
    padding: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.modal .num:hover {
    background-color: #FFCAD5;
    cursor: pointer;
}


/**
itemDetail.html 디자인
 */

.video-container {
    text-align: center;
    margin: 100px 0px 125px 0px;
}

.book {
    display: grid;
    place-items: center;
    margin-top: 200px;
    grid-template-columns: 360px 360px 360px 360px;
    gap: 20px;
    grid-template-rows: 200px 200px 200px 200px;
}

.book-info {
    text-align: center;
}

.book-img {
    width: 240px;
    height: 300px;
    object-fit: cover;
}

/* 마이페이지 메뉴 */
#nav2>a {
    display: block; /* a태그는 글자성격 = inline */
    float: left;
    font-size: 30px;
    font-weight: 900;
    line-height: 80px;
    padding: 0 30px;
}
#nav2>ul {
    float: right;
}
#nav2>ul li {
    float: left;
    padding: 0 30px;
    line-height: 80px;
    font-weight: bold;
    font-size: 15px;
}