<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Uploaded vod</title>
</head>
<body>
<div style="display: flex; align-items: start">
<!--  <div>-->
<!--    <h3>normal</h3>-->
<!--    <video src="http://localhost:8080/vod/20190901_161416.mp4"-->
<!--           width="360px"-->
<!--           height="240px"-->
<!--           autoplay-->
<!--           muted-->
<!--           controls>-->
<!--    </video>-->
<!--  </div>-->
  <div>
    <h3>chunk</h3>
    <video src="http://localhost:8080/vod/chunk/20190901_161416.mp4"
           width="360px"
           height="240px"
           autoplay
           muted
           controls>
    </video>
  </div>

</div>
</body>
</html>