<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/js/project.js" defer></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 관리</title>
</head>
<body>
<header>
    <nav id="nav3">
        <a href="/admin/items"><img src="/images/header.png" width="300" height="60"></a>
        <ul>
            <li><a href="/admin/users">회원관리</a></li>
            <li><a href="/admin/items">강의목록</a></li>
            <li><a href="/admin/qnas">Q&A</a></li>
            <li><a href="/auth/login">사용자</a></li>
        </ul>
    </nav>

    <h2><a href="/admin/users">회원 목록</a></h2>
</header>

<div>
    <form action="/admin/users" method="get">
        <span class="selectBox">
            <select name="search" style="height: 40px;">
                <option value="username">아이디</option>
                <option value="name">닉네임</option>
                <option value="email">이메일</option>
            </select>
        </span>
        <span class="searchInput">
            <input type="text" name="keyword"/>
            <input type="submit" value="검색" />
        </span>
    </form>

    <table>
        <thead>
        <tr>
            <th>아이디</th>
            <th>닉네임</th>
            <th>이메일</th>
            <th>전화번호</th>
            <th>주소</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.getUsername()}"></td>
            <td th:text="${user.getName()}"></td>
            <td th:text="${user.getEmail()}"></td>
            <td th:text="${user.getTel()}"></td>
            <td th:text="${user.getCity()} + ${user.getStreet()} + ${user.getZipcode()}"></td>
        </tr>
        </tbody>
    </table>
    <input type="button" class="button1" value="메인으로" onClick="location.href='/admin/items'" />
</div>
</body>

<footer>
    <div style="text-align : center;">
        <p>ⓒ COVISCON Corp. All rights reserved.</p>
    </div>
</footer>
</html>