<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리</title>
</head>
<body>
<header>
    <nav id="nav3">
        <a href="/"><img src="/images/header.png" width="300" height="60"></a>
        <ul>
            <li><a href="/item/list">교육과정</a></li>
            <li><a href="/user/introduction">강사소개</a></li>
            <li><a href="/qna/list">Q&A</a></li>
            <li><a href="/cart/list">장바구니</a></li>
            <!--            <li><a sec:authorize="isAnonymous()" onclick="location.href='/qna/list'">Q&A</a></li>-->
            <!--            <li><a sec:authorize="isAnonymous()" onclick="location.href='/cart/list'">장바구니</a></li>-->
            <!--            <li><a sec:authorize="isAnonymous()" onclick="location.href='/auth/login'">로그인</a></li>-->
            <!--            <li><a sec:authorize="isAuthenticated()" onclick="location.href='/auth/logout'">로그아웃</a></li>-->
            <!--            <li><a sec:authorize="isAuthenticated()" onclick="location.href='/user/course'">마이페이지</a></li>-->
            <li><a href="/auth/login">로그인</a></li>
            <li><a href="/auth/admin/login">관리자</a></li>
            <li><a href="/user/course">마이페이지</a></li>
        </ul>
    </nav>

    <h2><a href="/user/settings">설정</a></h2>
</header>
<nav id="nav2">
    <ul>
        <li><a href="/user/course">강좌</a></li>
        <li><a href="/user/settings">설정</a></li>
    </ul>
</nav>
<hr>

<div>
    <form action="/settings" method="post">
        <p>현재 비밀번호 : <input type="password" id="prePw" name="prePw"></p><br>
        <p>비밀번호 변경하기</p><br>
        <p>새 비밀번호 : <input type="password" id="nextPw" name="nextPw"></p>
        <p>
            <input type="submit" value="변경하기"/>
        </p>
    </form>
    <input type="button" class="button1" value="회원탈퇴" onClick="location.href='/settings/delete'" />

</div>

</body>

<footer>
    <div style="text-align : center;">
        <p>ⓒ COVISCON Corp. All rights reserved.</p>
    </div>
</footer>
</html>